<!doctype html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">

<!--suppress HtmlRequiredTitleElement -->
<head th:replace="~{fragments/header :: header}"></head>

<body>

<div th:replace="~{fragments/navigation :: navigation}"></div>

<div class="container mt-4">

    <div class="d-flex justify-content-between align-items-center mb-4">
        <h1>Объявления</h1>
        <a class="btn btn-primary" href="/accidents/create">Добавить инцидент</a>
    </div>

    <table class="table table-bordered table-hover align-middle">

        <thead class="table-light">
        <tr>
            <th>Номер</th>
            <th>Имя</th>
            <th>Адрес</th>
            <th>Описание</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="accident : ${accidents}">
            <td th:text="${accident.id}"></td>
            <td>
                <a th:href="@{/accidents/{id}(id=${accident.id})}"
                   th:text="${accident.name}">
                </a>
            </td>
            <td th:text="${accident.address}"></td>
            <td th:text="${accident.text}"></td>
        </tr>
        </tbody>

    </table>

</div>

<footer th:replace="~{fragments/footer :: footer}"></footer>

</body>
</html>
